body {
 padding-top: 50px;
}

.toc-item {
 display: flex;
}

.toc-item-bullet {
 padding-right: 4px;
}

.toc-item-content {
 flex-grow: 1;
}

#main-content .list-group-item {
 cursor: pointer;
}

#main-content .title {
 cursor: default;
}

.details {
 display: none;
}

.category-wrapper {
 padding-top: 65px;
 margin-top: -50px;
}

#theme-container {
 display: flex;
 flex-wrap: wrap;
}

.theme-item {
 text-align: center;
 width: 25%;
 flex-grow: 1;
 min-width: 100px;
 cursor: pointer;
}

.theme-item img {
 width: 100%;
}

.theme-item .panel-heading {
 text-transform: none;
}

.app-store-button {
 border-radius: 5px;
 background-color: black;
 color: white;
 font-family: 'Myriad Pro', 'Source Sans Pro', sans-serif;
 display: inline-flex;
 line-height: 2.6ex;
 padding: 0 1ex;
 vertical-align: middle;
 border: .4ex outset gray;
 align-items: center;
}

.app-store-button:hover {
 color: white;
 text-decoration: none;
}

.app-store-button:active {
 border: .4ex inset gray;
 color: white;
}

.screenshot-container {
 white-space: nowrap;
 overflow-x: auto;
}

.screenshot-container img {
 height: 150px;
 margin-right: 20px;
}

#screenshot .pagination {
 float: left;
 margin: 0;
}

#screenshot .modal-body > img {
 max-width: 100%;
}

#screenshot .modal-body {
 text-align: center;
}

.pagination .glyphicon {
	top: 0;
}

#about {
 margin-top: -50px;
 padding-top: 65px;
}

#toc {
 margin-top: -50px;
 padding-top: 50px;
}